<!-- Приветствие и кнопка выхода -->
<div class="d-flex flex-column">
  <button class="btn btn-danger mt-3" (click)="logOut();">Выйти</button>
  <h2 class="mt-3 mb-3">Здравствуйте, <br> {{selectedUser.name}} {{selectedUser.surname}}</h2>
</div>

<!-- Вывод информации о статусе запроса -->
<div class="d-flex alert alert-secondary mt-3" role="alert">
  {{result}}
</div>

<!-- Добавление пользователя если, роль пользователя - admin -->
<button *ngIf="selectedUser.role == 'admin'" class="btn btn-info mb-3" (click)="toggleAddUser();">Добавить нового пользователя</button>
<form *ngIf="selectedUser.role == 'admin' && letAddUsers == 1" class="mb-3" [formGroup]="addUser">
  <caption>Добавить пользователя</caption>
  <div class="form-group">
    <label for="name">Имя</label>
    <input type="text" class="form-control" id="name" placeholder="Введите имя" formControlName="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="surname">Фамилия</label>
    <input type="text" class="form-control" id="surname" placeholder="Введите фамилию" formControlName="surname"
      [(ngModel)]="surname">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onAddUser();" [disabled]="addUser.invalid">Сохранить пользователя</button>
</form>

<!-- Просмотр всех пользователей, если роль пользователя - admin -->
<div *ngIf="selectedUser.role == 'admin'" class="allusers">
  <button class="btn btn-info mb-3" (click)="toggleUsers();">Просмотреть всех пользователей</button>
  <div class="table-responsive">
    <table *ngIf="letCheckUsers == 1" class="table">
      <tr>
        <th>ID</th>
        <th>ИМЯ</th>
        <th>ФАМИЛИЯ</th>
        <th>РОЛЬ</th>
        <th>УДАЛИТЬ</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>
          <div clas="d-flex flex-column">
            <p>{{user.role}}</p>
            <button *ngIf="user.role != 'admin'" (click)="changeRole(user.id);" class="btn-sm btn-success p-2"></button>
            <button *ngIf="user.role == 'admin'" (click)="changeRole(user.id);" class="btn-sm btn-danger p-2"></button>
          </div>
        </td>
        <td>
          <p>Удалить</p>
          <button (click)="deleteUser(user.id);" class="btn-sm btn-outline-danger btn-light p-2"></button>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Добавление заметок -->
<form class="my-3" [formGroup]="addNote">
  <caption>Добавить заметку</caption>
  <div class="form-group">
    <label for="theme">Тема</label>
    <input type="text" class="form-control" id="theme" placeholder="Введите тему" formControlName="theme" [(ngModel)]="theme">
  </div>
  <div class="form-group">
    <label for="content">Контент</label>
    <input type="text" class="form-control" id="content" placeholder="Введите контент" formControlName="content"
      [(ngModel)]="content">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onAddNote();"  [disabled]="addNote.invalid">Добавить</button>
  <button type="submit" class="btn btn-primary ml-2" (click)="onUpdateNote();"  [disabled]="addNote.invalid">Изменить</button>
</form>

<!-- Вывод заметок -->
<div class="table-responsive">
  <caption>Ваши заметки</caption>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Тема</th>
      <th>Контент</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </tr>
    <tr *ngFor="let post of posts">
      <td>{{post.id}}</td>
      <td>{{post.theme}}</td>
      <td>{{post.content}}</td>
      <td><button (click)="editPost(post.id)" class="btn-sm btn-info">Изменить</button></td>
      <td><button (click)="deletePost(post.id)" class="btn-sm btn-danger">Удалить</button></td>
    </tr>
  </table>
</div>