<h2 class="mt-5 mb-3">Выберите пользователя</h2>
<div class="input-group">
  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" style="width:200px;" [(ngModel)]="selectedUser" name="selectedUser">
    <option *ngFor="let user of users" value='{{user.id}}'>{{user.id}}-{{user.surname}} {{user.name}}</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)=check(selectedUser);>Выбрать</button>
  </div> 
</div>